@import 'guide-style.css';

body {
    font-family: 'League Spartan', sans-serif;
    overflow: hidden;
}

header {
    position: relative;
    z-index: 10;
}

header>.menu {
    top: 30px;
    left: 60px;
    position: absolute;
    display: flex;
    
}

.menu > svg:nth-child(2) {
    margin-right: 30px;
   }
   

header>.menu>.menu-options>a {
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    margin: 10px;
    font-size: var(-font-size);
    border-bottom: 2px solid transparent;
    transition: 250ms ease-in;
}

header>.menu>.menu-options>a:hover {
    border-bottom: 2px solid var(--white);
}
    
.hamburger-icon{
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 400px) {
    body {
        overflow: auto;
    }

    header {
        align-items: center;
        justify-content: center;
    }

    header>.menu {
        top: 30px;
        left: 0;
        position: absolute;
        display: flex;
        width: 80%;
        margin-left: 10%;
    }


    header>.menu>.menu-options {
        display: none;
    }

    .menu>svg:nth-child(2) {
        position: absolute;
        left: 50%;
        translate: -50%;
    }

    header>.menu>.hamburger-icon {
        display: flex;
    }
}