.layout-1 {
    display: grid;
    grid-template-columns: 1.37fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "product-img description";
}

.product-img {
    grid-area: product-img;
}

.description {
    grid-area: description;
    position: relative;
}


@media screen and (max-width: 400px) {
    .layout-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "product-img" 
            "description";
    }

    .slide>picture>img{
        
    }
}