@import 'guide-style.css';

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal > .menu-mobile {
    display: flex;
    column-gap: 10%;
    background-color: var(--white);
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.modal > .menu-mobile >.mobile-options > a {
    color: var(--black);
    text-decoration: none;

}

.modal > .menu-mobile > .close-icon {
    cursor: pointer;
}

.mobile-options {
    display: flex;
    column-gap: 25px;
   }
   